@import url('./variables.css');
@import url('./base.css');
@import url('./components/grid.min.css');
@import url('./components/links.css');
@import url('./components/buttons.css');

body {
  background-color: var(--c-quaternary);
  margin: 0;
  font-family: var(--t-primary);
}